{% extends "guess/layout.html" %}

{% block body %}
<form action="{% url 'guess:play' %}" method="post">
    {% csrf_token %}
    <p>Enter a number from 1 to {{ MAX_NUM }}:
    <input type="number" name="answer" min="1" max={{ MAX_NUM }} required>
        <button>Guess!</button></p>
</form>
    {% if answer != -1 %}
    <p>Last round, you guessed {{ answer }}. The correct answer was {{ correct }}.</p>
    {% endif %}

    <p>Score:</p>
    <p class="stats">{{ score }}</p>
    <p>(score increased by {{ scoreChange }} last round)</p>

    <p>Lives Left:</p>
    <p class="stats">{{ lives }}</p>
    {% if livesChange == -1 %}
        <p>(you lost a life last round)</p>
    {% endif %}
    {% if livesChange == +1 %}
        <p>(you gained a life last round)</p>
    {% endif %}
{% endblock %}