{% extends "guess/layout.html" %}

{% block body %}
<form action="{% url 'guess:play' %}" method="post">
    {% csrf_token %}
    Enter a number from 1 to 30:
    <input type="number" name="answer" min="1" max="30" required>
    <button>Guess!</button>
</form>
    {% if answer != -1 %}
    <p>Last round, you guessed {{ answer }}. The correct answer was {{ correct }}.</p>
    {% endif %}

    <p>score: {{ score }} (increased by {{ scoreChange }} since last round)</p>

    <p>lives left: {{ lives }}
    {% if livesChange == -1 %}
        (you lost a life last round)
    {% endif %}
    {% if livesChange == +1 %}
        (you gained a life last round)
        {% endif %}</p>
{% endblock %}